In [ ]:
!pip install pysus

In [ ]:
from pysus.online_data.sinasc import download
from pysus.online_data import parquets_to_dataframe
from pysus.online_data import SINAN
import pandas as pd
import numpy as np

In [ ]:
## Extraindo dados de 2009 a 2021
df = parquets_to_dataframe(SINAN.download('Violência Domestica', SINAN.get_available_years('Violência Domestica')[0]))

for ano in SINAN.get_available_years('Violência Domestica')[1:-1]:
  SINAN.download('Violência Domestica', ano)
  df_t = parquets_to_dataframe(SINAN.download('Violência Domestica', ano))
  df = pd.concat([df, df_t], ignore_index=True)

In [ ]:
df.head()

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_UNIDADE,DT_OCOR,SEM_PRI,...,CONS_IDO,DELEG_IDOS,DIR_HUMAN,MPU,DELEG_CRIA,DELEG_MULH,DELEG,INFAN_JUV,DEFEN_PUBL,DT_ENCERRA
0,2,Y09,2009-05-12,200919,2009,41,412550,2753278,20090512,200919,...,,,,,,,,,,20090512
1,2,Y09,2009-12-01,200948,2009,29,290270,2301687,20091201,200948,...,,,,,,,,,,20091201
2,2,Y09,2009-01-22,200903,2009,52,520870,2338262,20090122,200903,...,,,,,,,,,,20090122
3,2,Y09,2009-03-01,200909,2009,13,130356,2708930,20090301,200909,...,,,,,,,,,,20090301
4,2,Y09,2009-06-30,200926,2009,26,260290,5581923,20090630,200926,...,,,,,,,,,,20090716

In [ ]:
df.shape

(3035965, 160)

## Limpeza

- Filtrar por não duplicados
- Filtrar por Mulher
- Transformar nulos em nulos
- Tranformar dados em string

In [ ]:
df = df.loc[(df.CS_SEXO == 'F') & (df.NDUPLIC != "2") &(df.REL_PROPRI != "1")]

In [ ]:
df = df[['TP_NOT', 'DT_NOTIFIC', 'NU_ANO', 'SG_UF_NOT', 'ID_MUNICIP', 'ID_UNIDADE', 'DT_OCOR', 'ANO_NASC',
         'CS_SEXO', 'CS_GESTANT', 'CS_RACA', 'CS_ESCOL_N', 'SG_UF', 'ID_MN_RESI', 'ID_PAIS', 'NDUPLIC',
         'ID_OCUPA_N', 'SIT_CONJUG', 'DEF_TRANS', 'SG_UF_OCOR', 'ID_MN_OCOR', 'HORA_OCOR', 'LOCAL_OCOR',
         'OUT_VEZES', 'LES_AUTOP', 'VIOL_FISIC', 'VIOL_PSICO', 'VIOL_TORT', 'VIOL_SEXU', 'VIOL_TRAF',
         'VIOL_FINAN', 'VIOL_LEGAL', 'VIOL_NEGLI', 'VIOL_INFAN', 'AG_FORCA', 'AG_ENFOR', 'AG_OBJETO',
         'AG_CORTE', 'AG_QUENTE', 'AG_ENVEN', 'AG_FOGO', 'AG_AMEACA', 'SEX_ASSEDI', 'SEX_ESTUPR', 'SEX_PUDOR',
         'SEX_EXPLO', 'SEX_PORNO', 'LESAO_NAT', 'LESAO_ESPE', 'LESAO_CORP', 'NUM_ENVOLV', 'REL_SEXUAL',
         'REL_PAI', 'REL_PAD', 'REL_MAD', 'REL_CONJ', 'REL_EXCON', 'REL_NAMO', 'REL_EXNAM', 'REL_FILHO',
         'REL_DESCO','REL_IRMAO', 'REL_CUIDA', 'REL_CONHEC', 'REL_PATRAO', 'REL_INST', 'REL_MAE', 'REL_POL',
         'AUTOR_SEXO', 'AUTOR_ALCO', 'ENC_SAUDE', 'ENC_TUTELA', 'ENC_VARA', 'ENC_ABRIGO', 'ENC_SENTIN',
         'ENC_DEAM', 'ENC_DPCA', 'ENC_DELEG', 'ENC_MPU', 'ENC_MULHER', 'ENC_CREAS', 'ENC_IML',
         'REL_TRAB', 'CLASSI_FIN', 'EVOLUCAO',
         'DT_OBITO', 'ORIENT_SEX', 'IDENT_GEN', 'VIOL_MOTIV', 'CICL_VID', 'REDE_SAU', 'ASSIST_SOC',
         'REDE_EDUCA', 'ATEND_MULH', 'DIR_HUMAN', 'MPU', 'DELEG_MULH', 'DELEG', 'DEFEN_PUBL', 'DT_ENCERRA']]

In [ ]:
df.shape

(1700365, 100)

In [ ]:
df.to_csv('drive/MyDrive/violencia_2009_2021.csv', index = False)